body {
    background-color: #E5E5E5;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    color: #000;
    text-align: center;
    font: bold calc(.025 * (100vw)) 'Arial', sans-serif;
}

.title {
    margin-top: 15px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    gap: 60px;
    background-color: #A8A8A8;
    border-radius: 16px;
}

button {
    border-radius: 12px;
    padding: 8px;
    background-color: #fff;
}

.grid {
    width: 500px;
    height: 500px;
    margin: 20px;
    margin-right: 155px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid red;
}

.boxdiv { /* class for the dynamic js boxes*/
    /* border: 1px solid black; */
    margin: 0px;
    background-color: #fff;
}